{
    background-image: linear-gradient(hwb(0 56% 39% / 0.753), #721616b3), url('../imagenes/3.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:  center;
    filter: brightness(150%);
  }